<a href="https://colab.research.google.com/github/rmfltm854/py22/blob/master/notebook/mid_exam_py22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **파이썬 활용 중간고사 풀이**

## 중간고사 1부 (1번~5번)

**문제1.다음 식의 연산 결과는?**

In [0]:
a = 5
b = 3
a**b
#답 125
# "a**b" 이라는 의미는 a를 b 횟수 만큼 곱한다라는 말이기때문이다.

125

### 문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?

In [0]:
a="Life is too short, you need Python!"
a[-16:-8]
#답: you need
# -는 뒤에서부터 가므로 뒤에서 8~16번째 까지가 답이다.

'you need'

### 문제3. 다음 list a 의 인덱싱 결과는?

In [0]:
a=[1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]
#답:'My'
# lista 의 요소중 [] 으로 짤린 3가지 요소중 -1젤뒤에 요소, 그[] 안에서 제일 첫번째요소를 말하기 때문에 답은'My'이다.

'My'

### **문제4. 다음 tuple t1의 슬라이싱 결과는?**

In [0]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2]
#답: 's'
# 슬라이싱에서 양수는 앞에서 0부터 시작하고 음수는 뒤에서부터-1로 시작하기때문에 세번째자리 "s" 부터 뒤에서 두번째자리 't'까지 이므로
#답은's'

('s',)

### 문제5. 다음 BOOL 값 출력 중 정확한 것은?

In [0]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0, ))
#요소가 True 로 나오기위해서는 리스트안에 요소가 있어야한다. 첫번쨰 두번째는 []안에 요소가있고 4번쨰 는 ((0, )) 0뒤에 ,가있기때문에 요소가 있는것으로 본다.
#세번째는 튜플 값이 0이기 때문에 False 이다.

(True, True, False, True)

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.
```
# score = 80
if score >= 60:
  message = "success"
  else:
    message = "failure"

```

In [0]:
score = 80
message = "success" if score >=60 else "failure"
print(message)
# 80 이상이면 "success" 그반대면 "failure"

success

### 문제7. 다음 코드의 실행결과는?

In [0]:
games = ['A', 'B', 'c']

for cnt in range(len(games)):
  print(cnt, games[cnt], end='.')
#답:0 A.1 B.2 c.
# 앞에서는 자리수를 셀때0부터 시작하기때문에 0A, 1B,2C 가되고 값을출력하고 뒤에는,를 붙인다.

0 A.1 B.2 c.

### 문제8. 다음의 결과가 출력되지 않는것은?
### 'I ate 10 apples, so I was sick for threee days.'

In [0]:
number = 10
day = "threee"
"I ate (0) apples, so I was sick for (1) days" format(number=10, day)
# File "<ipython-input-15-c11fd744e438>", line 3
    "I ate (0) apples, so I was sick for (1) days" format(number=10, day)
                                                        ^
SyntaxError: invalid syntax

SyntaxError: ignored

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한줄 코드를 작성하시오.

In [0]:
sum( [num for num in range(1,1001) if num %5==0])
#답:100500
# range(1,1001)은 앞에서 자릿수를 셀때는 0부터 시작하기때문에 1001까지 범위를 지정한다.
# %5는 5의배수를 지정하는 코드이다

100500

### 문제10. 4개 과목의 평균 성적을 구하시오.[a], [b]에 적합한 코드는?


```
# subjects = ['python', 'english', 'math', 'science']
       scores = [88, 77, 66, 95]
       total = 0

       for subject, score in [a]_____(subjects, scores):
           total += score
           print(subject, score)

       print("평균점수 = (0)", format([b]_____) 
```

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [ 88, 77, 66, 95]
total = 0
for subject, score in zip(subjects,scores): 
  total += score 
  print(subject,score)

print("평균 점수 = {0}".format(total/len(subjects)))

python 88
english 77
math 66
science 95
평균 점수 = 81.5